<form action="/<%= idea.id %>" method="POST" style="display: inline">
  <input type="hidden" name="_method" value="DELETE">
  <input class="btn btn-xs btn-danger" type="submit" value="Delete"/>
  <input class="btn btn-xs btn-warning" type="button" value="Edit" onClick="window.location.href='/<%= idea.id %>/edit'">
</form>

<form action='/<%= idea.id %>/like' method='POST' style="display: inline">
  <button class="btn btn-xs btn-success" type='submit'/>
    Vote Up
  </button>
</form>

<form action='/<%= idea.id %>/dislike' method='POST' style="display: inline">
  <button class="btn btn-xs btn-success" type='submit'/>
    Vote Down
  </button>
</form>
