<div style="text-align: center">
  <h3>Ideas by Date</h3>
  <%= "#{ideas.count} Search results for #{day_of_week}" %>
</div>

<ul>
  <% ideas.each do |idea| %>
    <%= erb :idea, locals: {idea: idea, location: "non_front_page"} %>
  <% end %>
</ul>

