<form action='/<%= idea.id %>' method='POST'>

  <p>
    <% if idea.id %>
      Edit your idea:
    <% else %>
      Enter An Idea:
    <% end %>
  </p>

  <% if idea.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>
  <div style="margin-left: 50px">
  Idea Title:
  <input style="margin-left: 95px" type='text' name='idea[title]' value="<%= idea.title %>"/><br/>

  Idea Description:
  <textarea style="height: 2em; margin-left: 50px" name='idea[description]'><%= idea.description %></textarea><br/>

  <% if idea.id %>
    Idea Tags:<input style="margin-left: 95px" type='text' name='idea[tags]' value="<%= idea.tags %>" /><br />
  <% else %>
    Idea Tags:<input style="margin-left: 95px" type='text' name='idea[tags]' value="" /><br />
  <% end %>

  <br />
  <input type='submit'/>
</form>
</div>

