<% if group == "all" %>
  <h3 style="text-align: center;">Ideas In All Groups:</h3>
  <br />
  <div>
    <% all_groups.each do |key, value| %>
      <div style="clear: both">
      <h3>"<%= key %>":</h3>

        <% value.each do |idea| %>
          <div class="col-lg-4">
            <div class="well well-sm">
                <%= erb :idea, locals: {idea: idea, location: "view_only_function"} %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div style="clear: both">
    <h3 style="text-align: center;">Ideas In "<%= group %>" Group:</h3><br /><br />
    <% all_groups[group].each do |idea| %>
      <div class="col-lg-4">
        <div class="well well-sm">
            <%= erb :idea, locals: {idea: idea, location: "view_only_function"} %>
          <br />
        </div>
      </div>
    <% end %>
  </div>
<% end %>
