<div>
  <b>Idea Title:</b><font style="margin-left: 63px"><%= idea.title %></font><br />
  <b>Idea Description:</b><font style="margin-left: 15px"><%= idea.description %></font><br />
  <b>Idea Tags:</b><font style="margin-left: 60px"><%= idea.tags %></font>
</div>
<input type="button" value="Edit Idea" onClick="window.location.href ='/<%= idea.id %>/edit'">
<br />
