<!-- <h3 style="text-align: center">Existing Ideas:</h3>
<br />
<div style="width: 98%">
  <% ideas.each do |idea| %>
    <div class="col-lg-4">
      <div class="well well-sm">
        <%= erb :idea, locals: {idea: idea, location: "front_page"}%>
      </div><br />
    </div>
  <% end %>
</div>
<br />
 -->
