<div class="jumbotron" style="width: 98%">
  <div class="container" style="text-align: center;">
    <h1>Welcome To IdeaBox</h1>
    <p>Where you can safely & securely store your ideas</p>
    <p><a class="btn btn-primary btn-lg">Login In</a>
    <a class="btn btn-primary btn-lg">Sign Up</a></p>
  </div>
</div>

