<div class="jumbotron" style="width: 98%">
  <div class="container" style="text-align: center;">
    <h1>Welcome To IdeaBox</h1>
    <p>Where you can safely & securely store your ideas</p>
    <p><a class="btn btn-primary btn-lg">Login In</a>
    <a class="btn btn-primary btn-lg">Sign Up</a></p>
  </div>
</div>
<h3 style="text-align: center">Existings Ideas:</h3>
<% ideas.each do |idea| %>
  <div class="col-lg-4">
    <div class="well well-sm">
      <%= erb :idea, locals: {idea: idea, location: "front_page"}%>
    </div>
  </div>
<% end %>

<select name="idea[groups]">
  <option value="Groupless">Groupless</option>
  <option value="Travel">Travel</option>
  <option value="Home and Garden">Home and Garden</option>
  <option value="Culinary">Culinary</option>
  <option value="Business">Business</option>
  <option value="Shopping">Shopping</option>
  <option value="Fitness">Fitness</option>
  <option value="Health and Wellness">Health and Wellness</option>
</select><br/>
<input type='submit'/>
