<nav class="navbar navbar-default" role="navigation" style="width: 98%; margin-top: 10px">
<!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <form action='/' method="POST">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="/" style="text-decoration: none; color: blue;">IdeaBox</a>
      </form>
  </div>

<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active">&nbsp;</li>

      <li><a data-toggle="modal" href="#myModal">Submit An Idea</a></li>
      <li><a href="/ideas">View All Ideas</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">In Use Tags <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/tags">View All Tags</a>
          </li>
          <li role="presentation" class="divider"></li>
            <li role="presentation">
              <% tags.each do |tag| %>
                <a href="/tags/<%= tag %>" role="menuitem" tabindex="-1">
                  <%= tag %>
                </a>
              <% end %>
            </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistics <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/ideas?sort_by=day">Ideas By Day</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="/ideas?sort_by=time">Ideas By Time</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left" role="search" action="/search" method="GET">
        <div class="form-group">
          <input type="text" class="form-control" name="search" placeholder="Ideas, Desc and Tags">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" style="text-align: center">Enter Your Idea</h4>
      </div>
      <div class="modal-body">
        <%= erb :idea_submission, locals: {idea: idea} %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
