<h3 style="text-align: center">Searched Through The Database And Found:</h3>
<br />
<% search.each do |idea| %>
  <div>
    <div class="col-lg-4">
      <div class="well well-sm">
        <%= erb :idea, locals: {idea: idea, location: "view_only_function"} %>
        <br />
      </div>
    </div>
  </div>
<% end %><br />

