<div class="pull-right">
  <form action='/<%= idea.id %>/info' method='get' style="display: inline">
    <input class="btn btn-default btn-primary" type='submit' value="View Details"/>
    <br />
  </form>
</div>
